/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
      background-color: teal;
}
/* 
.container {
      width: 80%;
      margin: 0 auto;
      padding: 30px;
} */

.goals-wrapper {
      max-width: 600px;
      width: 100%;
      border: 2px solid #333;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 50px;
      padding: 20px;
      border-radius: 10px;
      background-color: #fefefe;
      text-align: center;
}

.goals-wrapper h2 {
      font-size: 36px;
      text-align: center;
      margin-bottom: 20px;
}

.goals-wrapper p {
      font-size: 22px;
      font-weight: bold;
}

.goal-item {
      font-size: 20px;
      margin-bottom: 20px;
}